
@* Angular route template*@
<div ng-view></div>
@* All scripts is generated here. *@
@section scripts{   
    <script src="~/App/HomeModule.js"></script>
    <!-- Directive -->
    <script src="~/App/directives/ngFileSelect.js"></script>

    <!-- Service -->
    <script src="~/App/services/CommonService.js"></script>
    <script src="~/App/services/EdataService.js"></script>
    <!-- Controller -->
    <script src="~/App/controllers/HomeController.js"></script>
    <script src="~/App/controllers/ChungTu.js"></script>

    <!-- Other scripts -->
    <script src="~/Scripts/upload_image.js"></script>


}